<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <div class="form-box login-box">
                <h2>Login</h2>
                <form>
                    <div class="input-group">
                        <label for="login-email">Email</label>
                        <input type="email" id="login-email" placeholder="Enter your email">
                    </div>
                    <div class="input-group">
                        <label for="login-password">Password</label>
                        <input type="password" id="login-password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="register-link">
                        <span>Not a member?</span>
                        <a href="/signup" id="show-signup">Register now</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
